.project-links {
  display: flex;
  gap: 20px;
}

.project-links-btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.project-links-btn-outline {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.project-links-btn:hover {
  transform: translateY(-2px);
}

.project-links-btn-outline:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.contact-details {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 2rem;
  border: 1px solid rgba(255, 215, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.contact-details p {
  font-size: 20px;
}

.contact-details strong {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .contact-details p {
    font-size: 1rem;
  }

  .project-links-btn{
    padding: 10px 20px;
    font-size: 12px;
  }

  .project-links-btn-outline{
    padding: 10px 20px;
    font-size: 12px;
  }
}
